/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$font-stack:    Calibri, sans-serif;

#cv_page_bloc {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

body {
  font: 100% $font-stack;
}

$articleDateWidth: 100px;

section {
    position: relative;
    margin-top: 20px;
    article{
        margin-top: 10px;
        aside{
            position: absolute;
            left: 0px;
            width: $articleDateWidth;
        }
        .content{
            margin-left: $articleDateWidth;
        }
    }

}
